::ng-deep {
  form, h1 {
    width: 300px;
  }

  h1 {
    margin: 20% auto 8%;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.0125em;
    color: #0C0C2E;
    text-align: center;
  }
}
