<h1>Nie pamiętasz hasła?</h1>
<p class="mb-3">Podaj swój e-mail, wyślemy Ci link do zmiany hasła.</p>
<form class="row no-gutters justify-content-center flex-column m-auto">
  <app-input [placeholder]="'Email'"
             [span]="'Adres email'"
             [marginBottom]="'30px'"
             [formControlNameValue]="adminForgotPasswordForm.get('email')">
  </app-input>
  <button class="yellowButton"
              (click)="remindAdminPassword()">Wyślij
  </button>
</form>
<a class="mt-3" routerLink="/admin-auth/login">Powrót do logowania</a>
