p {
  width: 405px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.0225em;
  color: #76819A;
  @media (max-width: 900px) and (min-width: 801px) {
    width: 376px;
    font-size: 14px;
  }
  @media (max-width: 440px) {
    width: 290px;
    font-size: 13px;
  }
}

a {
  display: block;
  width: 224px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.0125em;
  text-decoration-line: underline;
  color: #FFCB06;
  @media (max-width: 800px) {
    margin: 0 auto 20%;
  }
}
