<div class="wrapper row no-gutters align-items-center justify-content-center">
  <button class="yellowButton" (click)="addProductModal.open()">Dodaj produkt</button>
</div>

<app-modal #addProductModal>
  <div class="mt-5 row flex-column no-gutters align-items-center">
    <h1 class="mb-3">Dodaj produkt</h1>
    <app-input [placeholder]="'Nazwa'"
               [span]="'Nazwa'"
               [formControlNameValue]="addProductForm.get('name')">
    </app-input>
    <div class="mt-3">
      <app-textarea [span]="'Opis produktu'"
                    [height]="'342px'"
                    [minlength]="20"
                    [maxlength]="1000"
                    [formControlNameValue]="addProductForm.get('description')"
                    (textareaValueLength)="getTextareaValueLength($event)">
      </app-textarea>
      <div class="row no-gutters justify-content-between">
        <p class="info">Min. 20 znaków</p>
        <p class="info">{{descriptionLength}}/1000 znaków</p>
      </div>
    </div>
    <app-input [placeholder]="'1'"
               [span]="'Sztuki'"
               mask="0*"
               [formControlNameValue]="addPriceForm.get('amount')">
    </app-input>
    <br>
    <app-input [placeholder]="'30.99 PLN'"
               [span]="'Cena'"
               mask="0*.00"
               suffix=" PLN"
               [formControlNameValue]="addPriceForm.get('price')">
    </app-input>
    <button class="yellowButton mt-3" (click)="addPriceLevel()">Dodaj cenę</button>
    <div *ngIf="pricingLevels.length" class="mt-3">
      <h3>Cennik</h3>
      <div *ngFor="let pricingLevel of pricingLevels; let i = index" class="row justify-content-between align-items-center mb-1">
        <p class="m-0">{{pricingLevel.amount}} sztuk</p>
        <p class="m-0">{{pricingLevel.price}} PLN</p>
        <img (click)="removePriceLevel(i)" src="assets/images/closeIconRed.svg">
      </div>
      <button class="yellowButton mt-3 mb-3" (click)="addProduct()">Dodaj produkt</button>
    </div>
  </div>
</app-modal>
