.forgot-password {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.0125em;
  text-decoration-line: underline;
  color: #76819A;
  cursor: pointer;
}
