<h1>Logowanie</h1>
<form class="row no-gutters justify-content-center flex-column m-auto">
  <app-input [placeholder]="'Email'"
             [span]="'Adres email'"
             [marginBottom]="'31px'"
             [formControlNameValue]="adminLoginForm.get('email')">
  </app-input>
  <app-input [type]="'password'"
             [placeholder]="'Hasło'"
             [span]="'Hasło'"
             [marginBottom]="'17px'"
             [formControlNameValue]="adminLoginForm.get('password')">
  </app-input>
  <p class="forgot-password"
     routerLink="/admin-auth/forgot-password">Zapomniałeś hasła?</p>
  <button class="yellowButton" (click)="loginAdmin()">Zaloguj się</button>
</form>
