<div class="input" style="margin-bottom:{{marginBottom}};">
  <input type="{{type}}"
         class="inputText"
         placeholder="{{placeholder}}"
         [formControl]="formControlNameValue"
         [mask]="mask || ''"
         [prefix]="prefix || ''"
         [suffix]="suffix || ''"
         [ngClass]="{'errorInput': (error$ | async)}"
         (press)="sendInputValue('')"/>
  <span class="floating-label">{{span}}</span>
  <img *ngIf="type === 'password'"
       class="show-password"
       src="assets/images/showPassword.svg"
       (click)="showPassword()">
  <img *ngIf="isPasswordIconVisible && type === 'text'"
       class="show-password"
       src="assets/images/showPasswordDisable.svg"
       (click)="hidePassword()">
  <span *ngIf="(error$ | async) as error" class="errorHolder">{{ error }}</span>
</div>
