.input {
  position: relative;
  height: 56px;
  border: 1px solid rgba(26, 32, 38, .16);
  border-radius: 8px;

  &:focus-within {
    border: 1px solid #FEC20B;

    .floating-label {
      color: #FEC20B;
    }
  }

  .inputText {
    display: block;
    width: 100%;
    height: 53px;
    border-radius: 8px;
    padding-left: 16px;
    border: none;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.0015em;
    color: #546078;
    cursor: pointer;

    &.errorInput {
      margin: 0 63px 12px 0;
    }
  }

  .floating-label {
    position: absolute;
    height: 16px;
    padding: 0 5px;
    top: -8px;
    left: 11px;
    font-size: 12px;
    letter-spacing: 0.11em;
    color: #263238;
    background-color: white;
    border-radius: 10px;
  }

  .show-password {
    position: absolute;
    top: 21px;
    right: 16px;
    bottom: 20px;
    cursor: pointer;
  }

  .errorHolder {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 35px;
    left: 17px;
  }
}

input[placeholder='Email']::placeholder {
  text-transform: capitalize;
}

input[placeholder='Email'] {
  text-transform: lowercase;
}

input::placeholder {
  color: #98A3BC;
}

input:disabled {
  cursor: auto !important;
  background-color: #FBFBFB;
}
