<div *ngIf="visible" class="pop-up-background">
  <div class="pop-up-body"
       style="width: {{width}};">
    <div class="pop-up-content">
      <img class="close-pop-up"
           src="assets/images/closeIcon.svg"
           (click)="close()">
      <ng-content></ng-content>
    </div>
  </div>
</div>
