.pop-up-background {
  position: fixed;
  z-index: 30;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .8);
}

.pop-up-body {
  position: fixed;
  z-index: 31;
  width: 552px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding-bottom: 30px;
  background: #FFFFFF;
  border-radius: 20px;
  max-height: 90vh;
  overflow-y: auto;

  .pop-up-content {
    width: 300px;
    margin: 0 auto;

    img {
      position: absolute;
      cursor: pointer;
    }

    .close-pop-up {
      top: 15px;
      right: 13px;
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 600px) {
  .pop-up-body {
    width: 450px;
  }
}

@media (max-width: 450px) {
  .pop-up-body {
    width: 400px;
  }

}

@media (max-width: 400px) {
  .pop-up-body {
    width: 350px;
  }

}

@media (max-width: 350px) {
  .pop-up-body {
    width: 320px;
  }
}
