<h1>Zmiana hasła</h1>
<form class="row no-gutters justify-content-center flex-column m-auto">
  <app-input [type]="'password'"
             [placeholder]="'Nowe hasło'"
             [span]="'Nowe hasło'"
             [marginBottom]="'20px'"
             [formControlNameValue]="resetAdminPasswordForm.get('newPassword')">
  </app-input>
  <app-input [type]="'password'"
             [placeholder]="'Powtórz hasło'"
             [span]="'Powtórz hasło'"
             [formControlNameValue]="resetAdminPasswordForm.get('newPassword2')">

  </app-input>
  <span class="mb-3 mt-3 text-center">Hasło musi zawierać od 9 do 20 znaków, cyfrę, małą i dużą literę.</span>
  <button class="yellowButton"
          (click)="resetAdminPassword()">Zmień hasło
  </button>
</form>
