<div class="textarea">
  <textarea class="textareaText" style="height:{{height}};"
            placeholder="{{placeholder}}"
            [formControl]="formControlNameValue"
            [ngClass]="{'errorInput': (error$ | async)}"
            maxlength="{{maxlength}}"
            minlength="{{minlength}}"
            (press)="sendTextareaValueLength(0)">
  </textarea>
  <span class="floating-label">{{span}}</span>
  <span *ngIf="(error$ | async) as error" class="errorHolder">{{ error }}</span>
</div>
