.textarea {
  position: relative;
  border: 1px solid rgba(26, 32, 38, .16);
  border-radius: 8px;

  &:focus-within {
    border: 1px solid #FEC20B;

    .floating-label {
      color: #FEC20B;
    }
  }

  .textareaText {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    border: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.0015em;
    color: #546078;
    cursor: pointer;

    &.errorInput {
      margin-right: 63px;
    }
  }

  .floating-label {
    position: absolute;
    height: 16px;
    padding: 0 5px;
    top: -8px;
    left: 11px;
    font-size: 12px;
    letter-spacing: 0.11em;
    color: #263238;
    background-color: white;
    border-radius: 10px;
  }

  .show-password {
    position: absolute;
    top: 21px;
    right: 16px;
    bottom: 20px;
    cursor: pointer;
  }

  .errorHolder {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: 6px;
    left: 17px;
  }
}

textarea::placeholder {
  color: #98A3BC;
}
