header {
  min-height: 72px;
}

.nav-link {
  position: relative;
  color: #76819A;
  font-size: 14px;
  line-height: 18px;
  margin-left: 50px;

  &.activeTab{
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      background-color: #fec20b;
      left: 0;
      bottom: -25px;
    }
  }
}

.logout{
  @media (max-width: 500px) {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0);
    margin: 0 !important;
  }
}
