@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "~angular-notifier/styles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
}

.yellowButton {
  border-radius: 4px;
  border: 1px solid #FFCB06;
  background: #FFCB06;
  border-radius: 4px;
  color: black!important;
  cursor: pointer;
  padding: 12px 22px;
  text-decoration: none;
}

.yellowButton:focus-within {
  border: 1px solid rgba(26, 32, 38, 0.16);
}

.yellowButton:hover {
  background: #EEBA03;
}
